/*
 rix-kun was here
 --------------------------------------------------------------------------------------------
*/

#accordion .ui-accordion-header.ui-accordion-header-active {
    background-image: -moz-linear-gradient(top, #227289, #123B47) !important;
    background-image: -webkit-linear-gradient(top, #227289, #123B47) !important;
    background-image: linear-gradient(top, #227289, #123B47) !important;
}

#accordion .ui-accordion-content {
    height: auto !important;
    min-height: 40px !important;
}

/* Resets
--------------------------------------------------------------------------------*/

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

fieldset {
    border: 0;
}

a img {
    border: 0;
}

.clear {
    clear: both;
}

/* General Styling and Structure
--------------------------------------------------------------------------------*/

body {
    background: url(bodybg.jpg) repeat-y center;
    font-family: arial, sans-serif;
    font-size: 12px;
    color: #fff !important;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

a {
    color: #ff7b38;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    line-height: 1.5;
    color: #fff;
    font-size: 15px;
    padding: .5em 0;
}

h1 {
    font-size: 26px;
    color: #ffffff;
    line-height: 1.5;
    font-weight: normal;
    padding: .5em 0 .2em 0;
}

h2 {
    font-size: 21px;
    color: #ffffff;
    line-height: 1.5;
    font-weight: normal;
    padding: .5em 0 .2em 0;
}

#wrapper {
    width: 956px;
    margin: 0 auto;
    background: url(wrapper.jpg) top no-repeat;
}

#header,
#header a {
    color: #fff;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#header {
    clear: both;
    padding: 0;
    min-height: 100px;
}

#logo,
#logo a {
    font-family: Georgia, arial, sans-serif;
    margin: 0;
    font-size: 36px;
    color: #ff7b38;
}

#splash-container .title {
    float: none;
}

#container {
    width: 958px;
    border: 1px solid #000;
}

.splash-page #container {
    width: 600px;
    margin: 0 auto;
}

#content {
    width: 920px;
    border: 1px solid #40474e;
    padding: 18px;
    margin: 0 auto;
    background: url(contentbg.png);
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = 'files/theme/contentbg.png', sizingMethod = 'scale');
}

#banner {
    width: 918px;
    border: 1px solid #000;
    padding: 0;
    margin: 0;
}

.text {
    width: 880px;
    min-height: 400px;
    _height: 400px;
    padding: 25px 19px;
}

/* Navigation
--------------------------------------------------------------------------------*/

#navigation {
    font-family: Georgia, arial, sans-serif;
    position: relative;
    width: 960px;
    height: 29px;
    z-index: 2;
    padding: 11px 0 0 0;
    background: url(navigationbg.png) no-repeat;
    _bbbackground: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = 'files/theme/navigationbg.png', sizingMethod = 'crop');
    text-align: center;
}

#navigation ul li {
    float: left;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 0 40px;
}

#navigation ul li a {
    color: #f7f7f7;
    float: left;
    height: 18px;
    padding: 0 0 12px 0;
}

#navigation ul li a:hover,
#navigation ul li#active a {
    color: #ff7b38;
    text-decoration: none;
}

/* Navigation Drop-Down Menu Customization
--------------------------------------------------------------------------------*/

#wsite-menus .wsite-menu li a {
    background: #000d16;
    border: 1px solid #404a51;
    text-decoration: none;
    padding: 8px 6px 8px 12px;
    color: #fff;
}

#wsite-menus .wsite-menu li a:hover {
    background: #131f28;
    color: #ee7437;
}

/* Header Area
-------------------------------------------------------------*/

#header {
    width: 100%;
    height: 100px;
}

#header,
#header table {
    border-collapse: collapse;
    border-spacing: 0;
}

#header td {
    vertical-align: middle;
    text-align: left;
}

#logo {
    padding: 25px 0 25px 17px;
}

#header-right {
    padding: 0 17px 0 10px;
}

#header-right table {
    width: 1px;
}

#header-right table,
#header-right .search,
#header-right .wsite-search {
    clear: right;
    float: right;
}

#header-right td {
    padding: 0;
}

/* TOP RIGHT: Phone Number
--------------------------------------------------------------------------------*/

#header-right .phone-number .wsite-text {
    font-family: arial;
    color: #fff;
    font-size: 16px;
    padding: 0 0 0 10px;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    margin: 5px 0 5px 15px;
}

/* TOP RIGHT: Content Area
--------------------------------------------------------------------------------*/

#header-right .wsite-social {
    margin: 5px 0 5px 10px;
    vertical-align: middle; /* for IE bug */
}

#header-right .wsite-social-item {
    width: 23px;
    height: 23px;
    margin: 0 0 0 3px; /* important to have margin on the left */
}

#header-right .wsite-social-rss {
    background: url(rss.png);
}

#header-right .wsite-social-linkedin {
    background: url(link-in.png);
}

#header-right .wsite-social-facebook {
    background: url(facebook.png);
}

#header-right .wsite-social-twitter {
    background: url(twitter.png);
}

/* TOP RIGHT: Search Box
--------------------------------------------------------------------------------*/

#header-right .wsite-search {
    margin: 5px 0 5px 15px;
    vertical-align: middle;
}

#header-right .wsite-search-input {
    width: 168px;
    height: 29px;
    border: none;
    padding: 3px 7px 0 7px !important;
    color: #fff;
    font-size: 14px;
    background: url(input-bg.png) no-repeat;
}

#header-right .wsite-search-button {
    width: 43px;
    height: 32px;
    color: #434343;
    font-size: 12px;
    border: none;
    margin: 0;
    padding: 0;
    background: url(submit_bg.png) no-repeat;
}

/* Footer
--------------------------------------------------------------------------------*/

#footer {
    width: 930px;
    font-size: 12px;
    text-align: right;
    padding: 20px 15px 30px 15px;
}

#footer p {
    padding: 0 0 10px 0;
}

/* PAGE TYPE: tall-header
--------------------------------------------------------------------------------*/

.tall-header-page .wsite-header {
    /* the user-editable image */
    width: 918px;
    height: 248px;
    background: url(banner-tall.jpg) no-repeat;
}

/* PAGE TYPE: short-header
--------------------------------------------------------------------------------*/

.short-header-page .wsite-header {
    /* the user-editable image */
    width: 918px;
    height: 148px;
    background: url(banner-short.jpg) no-repeat;
}

/* PAGE TYPE: landing
--------------------------------------------------------------------------------*/

#banner-left {
    float: left;
    width: 391px;
    height: 258px;
    padding: 30px 30px 0 30px;
    background: url(banner-left.png);
    border: 1px #222 solid;
    border-right: none;
}

#banner-left h2 {
    color: #fff;
    font-size: 28px;
    padding: 7px 0 0 0;
}

#banner-left .wsite-button {
    margin: 20px 0 0 0;
}

#banner-right {
    float: left;
    width: 466px;
    height: 288px;
}

.landing-page .wsite-header {
    display: block;
    width: 466px;
    height: 288px;
    background: url(banner-landing.jpg) no-repeat;
}

/* PAGE TYPE: splash
--------------------------------------------------------------------------------*/

.splash-page #banner {
    width: 485px;
    height: 150px;
}

.splash-page .wsite-header {
    width: 485px;
    height: 148px;
    background: url(banner-splash.jpg) no-repeat;
}

#splash-container {
    width: 560px;
    margin: 0 auto;
}

.splash-page .title {
    width: 560px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 0 !important;
    background: url(contentbg.png);
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = 'files/theme/contentbg.png', sizingMethod = 'scale');
}

.splash-page .wsite-logo {
    width: 488px;
    border-left: 1px solid #40474e;
    border-right: 1px solid #40474e;
    padding: 10px 35px 10px 35px;
}

.splash-page #content {
    width: 488px;
    border-top: none;
    padding: 10px 35px 10px 35px;
}

.splash-page #container {
    width: 560px;
    border-top: none;
    margin: 0 auto;
}

.splash-page .text {
    width: 488px;
    padding: 25px 0;
}

.splash-page #footer {
    width: 530px !important;
    margin: 0 auto;
    padding: 20px 15px 20px 15px;
}

/* Form Customization
--------------------------------------------------------------------------------*/

.wsite-form-label {
    display: inline-block;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 0 3px 0;
}

.form-radio-container {
    color: #fff;
    font-size: 13px;
}

.wsite-form-input {
    background: #00090d;
    color: #fff;
    border: 1px solid #40474e;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.form-select {
    width: 380px;
    color: #fff;
    background: #00090d;
    border: 1px solid #40474e;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* Buttons
--------------------------------------------------------------------------------*/

/*
  Buttons are styled with background image sprites. There are 4 unique image files:
   - small & normal-colored  (button_small_grey.png)
   - large & normal-colored  (button_large_grey.png)
   - small & highlight-colored  (button_small_orange.png)
   - large & highlight-colored  (button_large_orange.png)

  Each of these 4 types of buttons must define a :hover state (when user's mouse is over)
  as well as an :active state (when the user presses down).

  Look at the CSS (especially the inner .wsite-button-inner wrapper), as well as the
  image files to understand how the liquid-width nature of these buttons work.
 */

/* small */

.wsite-button {
    color: #fff !important;
    height: 34px;
    display: inline-block;
    font-size: 12px;
    border: none;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px 0 0;
    background: url(button_small_blue.png) no-repeat 100% -105px;
}


.wsite-button:hover {
    background-position: 100% -140px;
}

.wsite-button:active {
    background-position: 100% -175px;
}

.wsite-button-inner {
    color: #fff !important;
    height: 34px;
    line-height: 34px;
    display: block;
    font-size: 12px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    padding: 0 10px 0 20px;
    background: url(button_small_blue.png) no-repeat 0 0;
}

.wsite-button:hover .wsite-button-inner {
    background-position: 0 -35px;
}

.wsite-button:active .wsite-button-inner {
    background-position: 0 -70px;
}

/* large */

.wsite-button-large {
    color: #fff !important;
    height: 41px;
    background: url(button_large_blue.png) no-repeat 100% -126px;
    padding: 0 10px 0 0;
}

.wsite-button-large:hover {
    background-position: 100% -168px;
}

.wsite-button-large:active {
    background-position: 100% -210px;
}

.wsite-button-large .wsite-button-inner {
    color: #fff !important;
    height: 41px;
    line-height: 41px;
    padding: 0 10px 0 20px;
    background: url(button_large_blue.png) no-repeat 0 0;
}

.wsite-button-large:hover .wsite-button-inner {
    background-position: 0 -42px;
}

.wsite-button-large:active .wsite-button-inner {
    background-position: 0 -84px;
}

/* highlight */

/*
Making the highlighted versions of the buttons is easy because we just need
to switch out the background images. This works because the different button
states (normal, :hover, :active) have their sprite coordinates in the same places.
*/

.wsite-button-large.wsite-button-highlight {
    color: #fff !important;
    background-image: url(button_large_orange.png);
}

.wsite-button-large.wsite-button-highlight .wsite-button-inner {
    color: #fff !important;
    background-image: url(button_large_orange.png);
}

.wsite-button-highlight {
    color: #fff !important;
    background-image: url(button_small_orange.png);
}

.wsite-button-highlight .wsite-button-inner {
    color: #fff !important;
    background-image: url(button_small_orange.png);
}

/* Blog Customization */

#blog-title a {
    font-family: arial, sans-serif;
    font-size: 21px;
    line-height: 1.5em;
    color: #FF7B38;
}

#blog-title a:hover {
    font-family: arial, sans-serif;
    font-size: 21px;
    line-height: 1.5em;
    color: #FF7B38;
}

/*
 --------------------------------------------------------------------------------------------
*/

#mainmenu {
    width: 100% !important;
}

#mainmenu ul {
    list-style: none  !important;
    margin: 0  !important;
    padding: 0 !important;
}

#mainmenu li {
    border-bottom: 1px solid #123B47;
    height: 60px;
}

#mainmenu li a:link, #navigation li a:visited {
    height: 30px;
    font-size: 90%  !important;
    display: block  !important;
    padding: 0.4em 0 0.4em 0.5em  !important;
    border-left: 12px solid #711515  !important;
    border-right: 1px solid #711515  !important;
    background-color: #B51032  !important;
    color: #FFFFFF  !important;
    text-decoration: none  !important;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    /* background-color: #006dcc;     */
    background-color: #006dcc;
    *background-color: #04c;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#227289), to(#123B47));
    background-image: -webkit-linear-gradient(top, #227289, #123B47);
    background-image: -o-linear-gradient(top, #227289, #123B47);
    background-image: linear-gradient(to bottom, #227289, #123B47);
    background-image: -moz-linear-gradient(top, #227289, #123B47);
    background-repeat: repeat-x;
    border-color: #04c #04c #002a80;
    border-color: black;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr = '#ff0088cc', endColorstr = '#ff0044cc', GradientType = 0);
    filter: progid:dximagetransform.microsoft.gradient(enabled = false)
}


#mainmenu li a:hover {background-color: #123B47;color: #123B47  !important;}

#mainmenu li a:link, .blog-sidebar a:link{color:#227289 }
#mainmenu li a:visited, .blog-sidebar a:visited{color:#227289 }
#mainmenu li a:hover, .blog-sidebar a:hover{color:#227289 }

/*
 --------------------------------------------------------------------------------------------
*/

#wall {
    float: left;
    width:50%;

}

#myPics {
    float:left;
    width: 50%;
}
#user_info{
    text-align:left;
    display:block;
    float:left;
    padding-top: 5px;
    width:50%;
    padding-left: 30px;
}
.friends_list{
    margin-top: 40px;
    text-align: center;
   margin-bottom: 30px;
}
.paragraph{
    padding-top: 45px;
    display:table-column;
    text-decoration-color: #f5f5f5;
}
.comment{
    text-align:left;
    float:left;
    color: navy;
    margin-left:20px;
    margin-top:20px;
    font-size: small;
    font-style: italic;
    background-color: #b0c4de;
}