.ui-page{
    background: url('bodybg.jpg') repeat-y center !important;
    font-family: arial, sans-serif;
    font-size: 12px;
   /* color: #fff !important */
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;

}

.ui-bar-a {
	display: none;
}



#header{
	font-size: 36px;
	text-align: left;

	
}

#wsite-title{font-family:'Capture it' !important;color:#009900 !important; text-shadow: none !important;}

.wsite-logo {
    width: 488px;
    padding: 10px 35px 10px 35px;
	
}

#wrapper {
    width: 100%;
	
    margin: 0 auto;
    background: url('wrapper.jpg') top no-repeat;
}